.about-service {
  position: relative;
  margin-bottom: -25px;
  z-index: 3;
  min-height: 353px;
  padding-top: 34px;
  color: #ffffff;
  background-color: #192144;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: -55px;
    padding-top: 137px;
    padding-bottom: 89px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 750px;
    margin-bottom: -55px;
    padding-top: 132px;
    padding-bottom: 163px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.about-service__wrapper {
  @include wrapper;

  padding-left: 34px;
  padding-right: 34px;

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 70px;
  }
}

.about-service__inner-box {
  position: relative;
  width: 211px;
  margin-left: auto;
  margin-right: auto;

  &::before {
    position: absolute;
    content: "";
    top: -34px;
    right: 153px;
    display: block;
    width: 1134px;
    height: 132px;
    background-color: #141b3b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &::after {
    position: absolute;
    content: "";
    top: -34px;
    right: -45px;
    display: block;
    width: 292px;
    height: 353px;
    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 309px;
    margin: 0;

    &::before {
      top: -41px;
      left: -34px;
      width: 688px;
      height: 212px;
      border-radius: 20px;
    }

    &::after {
      top: 7px;
      left: 314px;
      width: 376px;
      height: 548px;
      background-image: url("../img/about-tablet@1x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: 619px;
    margin: 0;

    &::before {
      top: -62px;
      left: -70px;
      width: 212px;
      height: 212px;
      border-radius: 20px;
    }

    &::after {
      top: -47px;
      left: 620px;
      width: 630px;
      height: 665px;
      background-image: url("../img/about-desktop@1x.png");
    }
  }
}

.about-service__title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 20px;
  color: #ff8d30;

  @include font-size(bold, 24px, 24px);

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    @include font-size(bold, 45px, 45px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.about-service__text {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    @include font-size(300, 28px, 33px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;

    @include font-size(300, 28px, 34px);
  }
}

.about-service__text--call {
  @include font-size(bold, 16px, 22px);

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    @include font-size(bold, 21px, 25px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;

    @include font-size(bold, 21px, 24px);
  }
}

.about-service__detail-link {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 276px;
    min-height: 80px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 33px;
    padding-right: 33px;
    outline: none;

    @include font-size(bold, 24px, 24px);

    color: #1d2e5b;
    text-decoration: none;
    background-color: #ffd74b;
    border-radius: 20px;

    &:hover,
    &:focus {
      background-color: #ffbd30;
    }

    &:active {
      color: rgba(#1d2e5b, 0.3);
    }

    &::after {
      position: absolute;
      content: "";
      top: calc(100% / 2 - 7px);
      right: 33px;
      display: block;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid #1d2e5b;
    }

    &:active::after {
      border-left: 10px solid rgba(#1d2e5b, 0.3);
    }
  }
}
