.about-service {
  position: relative;
  margin-bottom: -25px;
  z-index: 3;
  min-height: 353px;
  padding-top: 34px;
  color: #ffffff;
  background-color: #192144;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 137px;
    padding-bottom: 89px;
  }
}

.about-service__wrapper {
  @include wrapper;

  padding-left: 34px;
  padding-right: 34px;
}

.about-service__inner-box {
  position: relative;
  width: 211px;
  margin-left: auto;
  margin-right: auto;

  &::before {
    position: absolute;
    content: "";
    top: -34px;
    right: 153px;
    display: block;
    width: 1134px;
    height: 132px;
    background-color: #141b3b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &::after {
    position: absolute;
    content: "";
    top: -34px;
    right: -45px;
    display: block;
    width: 292px;
    height: 353px;
    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 309px;
    margin: 0;
  }
}

.about-service__title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 20px;
  color: $special_orange;

  @include font-size(bold, 24px, 24px);

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    @include font-size(bold, 45px, 45px);
  }
}

.about-service__text {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    @include font-size(300, 28px, 33px);
  }
}

.about-service__text--call {
  @include font-size(bold, 16px, 22px);

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    @include font-size(bold, 21px, 25px);
  }
}
