.contact-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;

  &--promo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .reg-form__contacts & {
    color: $basic_yellow;
  }

  &--page-header {
    display: none;
  }
}

.contact-link__icon-box {
  flex-shrink: 0;
  display: block;
  width: 45px;
  height: 45px;
  margin-right: 16px;
  padding-top: 13px;
  text-align: center;
  background-color: #121936;
  border-radius: 50%;

  .contact-link--promo & {
    padding-top: 12px;
  }

  .contact-link--promo &--phone {
    width: 40px;
    height: 40px;
    margin-right: 0;
    background-color: $special_orange;
  }

  .contact-link--promo &--email {
    width: 40px;
    height: 40px;
    margin-right: 0;
    background-color: $special_yellow_dark;
  }
}

.contact-link__icon {
  width: 18px;
  height: 17px;
  fill: $basic_yellow;

  .contact-link--promo & {
    fill: $basic_blue;
  }
}

.contact-link__text {
  @include font-size(bold, 16px, 18px);

  color: #192144;
  text-transform: uppercase;

  .reg-form__contact-link & {
    color: $basic_yellow;
  }
}
