.contact-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  outline: none;

  .reg-form__contacts & {
    color: #ffd74b;
  }

  @media (min-width: $tablet-width) {
    .reg-form__contacts & {
      padding-left: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    .page-header &--phone,
    .page-header &--email {
      &:hover,
      &:focus {
        .contact-link__icon-box {
          &--phone {
            background-color: #f26926;
          }

          &--email {
            background-color: #ff8d30;
          }
        }
      }

      &:active {
        .contact-link__icon {
          opacity: 0.3;
        }
      }
    }

    .reg-form &--phone,
    .reg-form &--email {
      &:hover,
      &:focus {
        .contact-link__icon {
          fill: #ffbd30;
        }

        .contact-link__text {
          color: #ffbd30;
        }
      }

      &:active {
        .contact-link__icon {
          fill: #ffd74b;
          opacity: 0.3;
        }

        .contact-link__text {
          color: #ffd74b;
          opacity: 0.3;
        }
      }
    }
  }
}

.contact-link__icon-box {
  flex-shrink: 0;
  display: block;
  width: 45px;
  height: 45px;
  margin-right: 16px;
  padding-top: 15px;
  text-align: center;
  background-color: #121936;
  border-radius: 50%;

  .page-header__contact-link &,
  .promo__contact-link & {
    padding-top: 12px;
  }

  .page-header__contact-link &--phone,
  .promo__contact-link &--phone {
    width: 40px;
    height: 40px;
    margin-right: 0;
    background-color: #ff8d30;
  }

  .page-header__contact-link &--email,
  .promo__contact-link &--email {
    width: 40px;
    height: 40px;
    margin-right: 0;
    background-color: #ffbd30;
  }

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    padding-top: 20px;

    .page-header__contact-link & {
      display: none;
    }

    .reg-form__contacts & {
      margin-right: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    .page-header__contact-link & {
      display: block;
      width: 50px;
      height: 50px;
      padding-top: 16px;

      &--phone {
        background-color: #ff8d30;
      }

      &--email {
        background-color: #ffbd30;
      }
    }

    .reg-form__contact-link & {
      width: 90px;
      height: 90px;

      &--phone {
        padding-top: 25px;
      }

      &--email {
        padding-top: 30px;
      }
    }

    .reg-form__contacts & {
      margin-right: 30px;
    }
  }
}

.contact-link__icon {
  width: 18px;
  height: 17px;
  fill: #ffd74b;

  .page-header__contact-link &,
  .promo__contact-link & {
    fill: #161c35;
  }

  @media (min-width: $tablet-width) {
    width: 27px;
    height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 18px;
    height: 18px;

    .reg-form__contact-link & {
      &--phone {
        width: 36px;
        height: 34px;
      }

      &--email {
        width: 36px;
        height: 25px;
      }
    }
  }
}

.contact-link__text {
  @include font-size(bold, 16px, 18px);

  color: #192144;
  text-transform: uppercase;

  .reg-form__contact-link & {
    color: #ffd74b;
  }

  @media (min-width: $tablet-width) {
    @include font-size(bold, 28px, 28px);
  }
}
