.country-step__list {
  @include list-style;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    border-top: 1px solid #e1e3e9;
  }
}

.country-step__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 22px;

    &::before {
      position: absolute;
      content: "";
      bottom: -16px;
      right: 53px;
      width: 1px;
      height: 10px;
      background-color: #cbced9;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -16px;
      right: 50px;
      width: 7px;
      height: 7px;
      background: transparent;
      border-bottom: 1px solid #cbced9;
      border-left: 1px solid #cbced9;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 0;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.country-step__input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  border: 1px solid #cbced9;
  border-radius: 4px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 27px;
    width: 30px;
    background: linear-gradient(90deg, transparent 10%, #ffffff 82%);
    background-size: cover;

    .country-step__country-choose &,
    .country-step__add-country & {
      background: transparent;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 4px);
    right: -4px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #1d2e5b;
    border-radius: 50%;

    .country-step__country-choose & {
      right: 49px;
      background-color: #ffffff;
      border: 1px solid #cbced9;
    }

    .country-step__add-country & {
      right: 49px;
      background: transparent;
      border: 1px solid #cbced9;
    }
  }

  .country-step__add-country & {
    background-color: #edeff6;
  }

  @media (min-width: $tablet-width) {
    padding-right: 27px;
    border: none;
    border-right: 1px solid #e1e3e9;
    border-radius: 0;

    .country-step__item:not(:last-child) & {
      padding-bottom: 15px;
    }

    .country-step__start-country & {
      padding-top: 42px;
    }

    .country-step__add-country & {
      padding-bottom: 41px;
      background: transparent;
    }

    &::before {
      display: none;

      .country-step__add-country & {
        display: block;
        top: unset;
        bottom: 0;
        right: -20px;
        width: 40px;
        height: 41px;
        background: linear-gradient(180deg, transparent 10%, #ffffff 100%);
        background-size: cover;
      }
    }

    &::after {
      top: calc(100% / 2 - 15px);
      right: -8px;
      width: 14px;
      height: 14px;

      .country-step__start-country & {
        top: calc(100% / 2 + 7px);
      }

      .country-step__country-choose &,
      .country-step__add-country & {
        right: -8px;
      }

      .country-step__add-country & {
        top: calc(100% / 2 - 28px);
        background-color: #edeff6;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 45px;

    &::before {
      .country-step__add-country & {
        display: none;
      }
    }
  }
}

.country-step__input {
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
  width: 0;
  min-height: 41px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;

  @include font-size(500, 14px, 18px);

  letter-spacing: 0.09em;
  font-family: inherit;
  color: #1d2e5b;
  background: transparent;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;

  .country-step__country-choose &::placeholder,
  .country-step__add-country &::placeholder {
    color: #1d2e5b;
  }

  @media (min-width: $tablet-width) {
    min-height: 70px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 26px;

    @include font-size(500, 20px, 20px);

    letter-spacing: 0.1em;
    border: 1px solid #cbced9;

    .country-step__add-country & {
      background-color: #dfe3f0;
    }
  }
}

.country-step__select {
  position: relative;
  width: 27px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 4px;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 7px);
    right: 16px;
    width: 9px;
    height: 9px;
    border-bottom: 1px solid #cbced9;
    border-left: 1px solid #cbced9;
    background: transparent;
    transform: rotate(-45deg);
  }

  .country-step__add-country & {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: calc(100% / 2 - 1px);
      right: 16px;
      width: 14px;
      height: 2px;
      background-color: #c2c4c9;
      border: none;
      transform: none;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 15px;
    right: 27px;
    width: 44px;
    height: 70px;

    .country-step__add-country & {
      top: 0;

      &::before,
      &::after {
        top: calc(100% / 2 - 1px);
        left: 0;
        width: 20px;
        height: 2px;
      }
    }

    &::after {
      top: calc(100% / 2 - 9px);
      left: 2px;
      width: 13px;
      height: 13px;
      border-width: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    right: 45px;
  }
}

.country-step__flag-wrapper {
  display: flex;
  width: 53px;
  min-height: 43px;
  padding: 0;
  border: 1px solid #cbced9;
  border-radius: 4px;

  .country-step__country-choose &,
  .country-step__add-country & {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 135px;
    min-height: 70px;
    border: none;

    .country-step__start-country & {
      margin-top: 42px;
    }

    .country-step__country-choose &,
    .country-step__add-country & {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 225px;
  }
}

.country-step__flag-box {
  padding-top: 9px;
  margin-left: auto;
  margin-right: auto;

  &--hide {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 40px;
  }
}

.country-step__flag {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.country-step__country-del-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  min-width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 1px);
    left: calc((100% - 11px) / 2);
    width: 11px;
    height: 1px;
    background-color: #afb0b5;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  .country-step__add-country & {
    display: none;
  }

  @media (min-width: $tablet-width) {
    top: calc(100% / 2 - 20px);
    min-width: 24px;
    height: 24px;
    background: transparent;

    .country-step__start-country & {
      top: calc(100% / 2);
    }

    &::before,
    &::after {
      top: calc(100% / 2 - 1px);
      left: calc((100% - 25px) / 2);
      width: 25px;
      height: 2px;
      background-color: rgba(#000000, 0.1);
    }
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.country-step__dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
}
