.country-step__list {
  @include list-style;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    border-top: 1px solid #e1e3e9;
  }
}

.country-step__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 22px;

    &::before {
      position: absolute;
      content: "";
      bottom: -16px;
      right: 53px;
      width: 1px;
      height: 10px;
      background-color: #cbced9;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -16px;
      right: 50px;
      width: 7px;
      height: 7px;
      background: transparent;
      border-bottom: 1px solid #cbced9;
      border-left: 1px solid #cbced9;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 0;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.country-step__input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  border: 1px solid #cbced9;
  border-radius: 4px;

  .country-step__country-choose & {
    .step--opened-menu & {
      background-color: #1d2e5b;
      border: none;
      border-radius: 0;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 27px;
    width: 30px;
    background: linear-gradient(90deg, transparent 10%, #ffffff 82%);
    background-size: cover;

    .country-step__country-choose &,
    .country-step__add-country & {
      background: transparent;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 4px);
    right: -4px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #1d2e5b;
    border-radius: 50%;

    .country-step__country-choose & {
      right: 49px;
      background-color: #ffffff;
      border: 1px solid #cbced9;

      .step--opened-menu & {
        display: none;

        @media (min-width: $tablet-width) {
          display: block;
        }
      }
    }

    .country-step__add-country & {
      right: 49px;
      background: transparent;
      border: 1px solid #cbced9;
    }
  }

  .country-step__add-country & {
    background-color: #edeff6;
  }

  @media (max-width: $mobile-width-only) {
    .country-step__add-country & {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 27px;
    border: none;
    border-right: 1px solid #e1e3e9;
    border-radius: 0;

    .country-step__item:not(:last-child) & {
      padding-bottom: 15px;
    }

    .country-step__start-country & {
      padding-top: 42px;
    }

    .country-step__country-choose & {
      .step--opened-menu & {
        background: transparent;
        border-right: 1px solid #e1e3e9;
        border-radius: 0;
      }
    }

    .country-step__add-country & {
      padding-bottom: 41px;
      background: transparent;
    }

    &::before {
      display: none;

      .country-step__add-country & {
        display: block;
        top: unset;
        bottom: 0;
        right: -20px;
        width: 40px;
        height: 41px;
        background: linear-gradient(180deg, transparent 10%, #ffffff 100%);
        background-size: cover;
      }
    }

    &::after {
      top: calc(100% / 2 - 17px);
      right: -6px;
      width: 14px;
      height: 14px;

      .country-step__start-country & {
        top: calc(100% / 2 + 4px);
      }

      .country-step__country-choose &,
      .country-step__add-country & {
        right: -6px;
      }

      .country-step__add-country & {
        top: calc(100% / 2 - 28px);
        background-color: #edeff6;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 45px;

    .country-step__start-country & {
      padding-top: 62px;
    }

    .country-step__add-country & {
      padding-bottom: 56px;
    }

    &::before {
      .country-step__add-country & {
        display: none;
      }
    }

    &::after {
      right: -8px;

      .country-step__start-country & {
        top: calc(100% / 2 + 14px);
      }

      .country-step__add-country & {
        top: calc(100% / 2 - 38px);
      }

      .country-step__country-choose &,
      .country-step__add-country & {
        right: -8px;
      }
    }
  }
}

.country-step__input {
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
  width: 0;
  min-height: 41px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;

  @include font-size(500, 14px, 18px);

  letter-spacing: 0.09em;
  font-family: inherit;
  color: #1d2e5b;
  background: transparent;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;

  .country-step__country-choose & {
    .step--opened-menu & {
      border-radius: 0;
      border-top-left-radius: 4px;

      @media (min-width: $tablet-width) {
        border-top-right-radius: 4px;
      }
    }
  }

  .country-step__country-choose &::placeholder,
  .country-step__add-country &::placeholder {
    color: #1d2e5b;

    .step--opened-menu & {
      color: #ffffff;
    }
  }

  .country-step__add-country & {
    border: none;
  }

  @media (min-width: $tablet-width) {
    min-height: 70px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 26px;

    @include font-size(500, 20px, 20px);

    letter-spacing: 0.1em;
    border: 1px solid #cbced9;

    .country-step__add-country & {
      background-color: #edeff6;
    }

    .country-step__country-choose & {
      .step--opened-menu & {
        background-color: #1d2e5b;
        border: none;
        border-top-right-radius: 4px;
      }
    }

    &:hover,
    &:focus {
      border-color: #959bb2;

      .country-step__add-country & {
        background-color: #dfe3f0;
        border: none;
        outline: none;
      }
    }
  }
}

.country-step__select {
  position: relative;
  width: 27px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 7px);
    right: 16px;
    width: 9px;
    height: 9px;
    border-bottom: 1px solid #cbced9;
    border-left: 1px solid #cbced9;
    background: transparent;
    transform: rotate(-45deg);
  }

  .country-step__country-choose & {
    .step--opened-menu & {
      border-radius: 0;
      border-top-right-radius: 4px;

      &::before {
        position: absolute;
        content: "";
        top: calc(100% / 2 - 1px);
        right: 16px;
        width: 11px;
        height: 1px;
        background-color: #ffffff;
        transform: rotate(43deg);
      }

      &::after {
        top: calc(100% / 2 - 1px);
        width: 11px;
        height: 1px;
        border: none;
        background-color: #ffffff;
        transform: rotate(-43deg);
      }
    }
  }

  .country-step__add-country & {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: calc(100% / 2 - 1px);
      right: 16px;
      width: 14px;
      height: 2px;
      background-color: rgba(#000000, 0.2);
      border: none;
      transform: none;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 15px;
    right: 27px;
    width: 44px;
    height: 70px;

    .country-step__add-country & {
      top: 0;

      &::before,
      &::after {
        top: calc(100% / 2 - 1px);
        left: 0;
        width: 20px;
        height: 2px;
      }

      &:hover,
      &:focus {
        &::before,
        &::after {
          background-color: rgba(#000000, 0.3);
        }

        &:active {
          &::before,
          &::after {
            background-color: rgba(#000000, 0.1);
          }
        }
      }
    }

    &::after {
      top: calc(100% / 2 - 9px);
      left: 2px;
      width: 13px;
      height: 13px;
      border-width: 2px;
    }

    .country-step__country-choose & {
      .step--opened-menu & {
        border-radius: 0;

        &::before {
          position: absolute;
          content: "";
          top: calc(100% / 2 - 1px);
          right: 23px;
          width: 23px;
          height: 2px;
          background-color: rgba(#ffffff, 0.3);
          transform: rotate(43deg);
        }

        &::after {
          top: calc(100% / 2 - 1px);
          left: unset;
          right: 23px;
          width: 23px;
          height: 2px;
          border: none;
          background-color: rgba(#ffffff, 0.3);
          transform: rotate(-43deg);
        }

        &:hover,
        &:focus {
          &::before,
          &::after {
            background-color: #ffffff;
          }
        }

        &:active {
          &::before,
          &::after {
            background-color: rgba(#ffffff, 0.1);
          }
        }
      }
    }
  }

  @media (min-width: $desktop-width) {
    right: 45px;
  }
}

.country-step__flag-wrapper {
  display: flex;
  width: 53px;
  min-height: 43px;
  padding: 0;
  border: 1px solid #cbced9;
  border-radius: 4px;

  .country-step__country-choose &,
  .country-step__add-country & {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 135px;
    min-height: 70px;
    border: none;

    .country-step__start-country & {
      margin-top: 42px;
    }

    .country-step__country-choose &,
    .country-step__add-country & {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 225px;

    .country-step__start-country & {
      margin-top: 62px;
    }
  }
}

.country-step__flag-box {
  padding-top: 9px;
  margin-left: auto;
  margin-right: auto;

  &--hide {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 21px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 40px;
  }
}

.country-step__flag {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.country-step__country-del-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  min-width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 1px);
    left: calc((100% - 11px) / 2);
    width: 11px;
    height: 1px;
    background-color: #afb0b5;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  .country-step__country-choose & {
    .step--opened-menu & {
      display: none;
    }
  }

  .country-step__add-country & {
    display: none;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: rgba(#000000, 0.3);
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: rgba(#000000, 0.05);
    }
  }

  @media (min-width: $tablet-width) {
    top: calc(100% / 2 - 20px);
    min-width: 24px;
    height: 24px;
    background: transparent;

    .country-step__start-country & {
      top: calc(100% / 2);
    }

    &::before,
    &::after {
      top: calc(100% / 2 - 1px);
      left: calc((100% - 36px) / 2);
      width: 25px;
      height: 2px;
      background-color: rgba(#000000, 0.1);
    }
  }

  @media (min-width: $desktop-width) {
    right: -2px;

    .country-step__start-country & {
      top: calc(100% / 2 + 10px);
    }
  }
}

.country-step__dropdown-menu {
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;

  .step--opened-menu & {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    top: 70px;
    display: flex;
    justify-content: space-between;
    width: 575px;
    min-height: 414px;
    padding-top: 35px;
    padding-bottom: 33px;
    padding-left: 27px;
    padding-right: 5px;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    min-height: 478px;
  }
}

.country-step__litter-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 40px);

  @include list-style;

  border-left: 1px solid #cbced9;

  @media (min-width: $tablet-width) {
    grid-template-rows: repeat(5, 1fr);
    width: 262px;
    height: 346px;
    border-top: 1px solid #cbced9;
  }

  @media (min-width: $desktop-width) {
    column-gap: 16px;
    row-gap: 14px;
    width: 361px;
    height: 408px;
    border: none;
  }
}

.country-step__litter-item {
  border-right: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;

  @media (min-width: $desktop-width) {
    border: 1px solid #cbced9;

    &:hover {
      border: 1px solid #959bb2;
    }
  }
}

.country-step__litter-link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 9px;
  text-align: center;

  @include font-size(500, 14px, 18px);

  color: #1d2e5b;
  text-decoration: none;
  cursor: pointer;

  &:active {
    color: #ffffff;
    background-color: #1d2e5b;
  }

  &--active {
    background-color: #edeff6;
  }

  @media (min-width: $tablet-width) {
    padding-top: 23px;

    @include font-size(500, 20px, 20px);

    &--active {
      color: #ffffff;
      background-color: #1d2e5b;
    }
  }
}

.country-step__country-list {
  @include list-style;

  padding-top: 19px;
  padding-bottom: 27px;
  padding-left: 19px;
  padding-right: 19px;
  border-bottom: 1px solid #cbced9;
  border-left: 1px solid #cbced9;
  border-right: 1px solid #cbced9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  @media (min-width: $tablet-width) {
    margin-top: -35px;
    margin-bottom: -34px;
    padding-top: 38px;
    padding-bottom: 57px;
    padding-left: 25px;
    border: none;
    border-left: 1px solid #cbced9;
    border-radius: 0;
  }
}

.country-step__country-item {
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.country-step__country-link {
  @include font-size(normal, 16px, 22px);

  color: #444444;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include font-size(normal, 20px, 20px);

    &:hover,
    &:focus {
      color: #1d2e5b;
    }

    &:active {
      color: rgba(#1d2e5b, 0.3);
    }
  }
}
