.country-select-list {
  @include list-style;

  padding-top: 14px;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.country-select-list__link {
  @include font-size(normal, 16px, 22px);

  color: #444444;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include font-size(normal, 20px, 30px);
  }
}
