.country-select-list {
  @include list-style;

  padding-top: 13px;
  padding-left: 27px;
  padding-right: 27px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.country-select-list__link {
  @include font-size(normal, 16px, 22px);

  color: #444444;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #1d2e5b;
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }

  @media (min-width: $tablet-width) {
    @include font-size(normal, 20px, 30px);
  }
}
