.country-list {
  @include list-style;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 3px;
  }
}

.country-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.country-list__link {
  @include font-size(bold, 16px, 18px);

  color: #192144;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;

  &--current {
    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    @include font-size(bold, 20px, 20px);
  }
}
