.duration {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    border-top: 1px solid #e1e3e9;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 221px auto 74px;
    grid-template-rows: auto;
    padding-top: 0;
    border: none;
  }
}

.duration__label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
}

.duration__label {
  @include font-size(500, 16px, 16px);

  letter-spacing: 0.09em;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size(500, 20px, 20px);

    letter-spacing: 0.1em;
  }
}

.duration__unit {
  @include font-size(500, 16px, 16px);

  letter-spacing: 0.09em;
  color: rgba(#1d2e5b, 0.3);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size(500, 20px, 20px);

    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    color: #1d2e5b;
  }
}

.duration__input-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.duration__input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;

  @include font-size(500, 15px, 14px);

  color: #1d2e5b;
  text-transform: uppercase;
  text-align: center;
  border: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    @include font-size(500, 20px, 20px);
  }
}

.duration__btn {
  position: relative;
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    position: absolute;
    top: calc(100% / 2 - 1px);
    left: calc(100% / 2 - 6px);
    content: "";
    width: 13px;
    height: 2px;
    background-color: #cccccc;
  }

  &--add::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 70px;

    &::before,
    &::after {
      left: calc(100% / 2 - 10px);
      width: 21px;
    }
  }
}
