.duration__label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.duration__label {
  @include font-size(500, 16px, 16px);

  letter-spacing: 0.09em;
  color: #1d2e5b;
  text-transform: uppercase;
}

.duration__unit {
  @include font-size(500, 16px, 16px);

  letter-spacing: 0.09em;
  color: rgba(#1d2e5b, 0.3);
  text-transform: uppercase;
}

.duration__input-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto 20px;
  border: 1px solid #cbced9;
  border-radius: 4px;
}

.duration__input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;

  @include font-size(500, 15px, 14px);

  color: #1d2e5b;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.duration__btn {
  position: relative;
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  &::before {
    position: absolute;
    top: 21px;
    left: 14px;
    content: "";
    width: 14px;
    height: 2px;
    background-color: #cccccc;
  }

  &--add::after {
    position: absolute;
    top: 21px;
    left: 14px;
    content: "";
    width: 14px;
    height: 2px;
    background-color: #cccccc;
    transform: rotate(90deg);
  }
}
