.filter-country {
  padding-top: 40px;
  background-color: #e2e5f2;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 124px;
    padding-bottom: 59px;
  }
}

.filter-country__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.filter-country__title-box {
  display: flex;
  align-items: center;
}

.filter-country__title {
  position: relative;
  margin: 0;
  padding-left: 27px;

  @include font-size(bold, 16px ,18px);

  color: $link-dark;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 15px;
    height: 10px;
    background-color: $special_orange;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.filter-country__toggle-btn {
  position: relative;
  width: 20px;
  min-height: 16px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-family: inherit;
  border: none;
  background: transparent;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 2px);
    right: 0;
    width: 3px;
    height: 3px;
    background-color: #192144;
    border-radius: 50%;
    box-shadow:
      -8px 0 0 0 #192144,
      -16px 0 0 0 #192144;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    min-width: 220px;
    min-height: 20px;

    &::after {
      right: 38px;
      width: 6px;
      height: 6px;
      box-shadow:
        -12px 0 0 0 #192144,
        -24px 0 0 0 #192144;
    }
  }
}

.filter-country__toggle-btn-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;

    @include font-size(bold, 20px ,20px);

    color: #192144;
    font-family: inherit;
    text-transform: uppercase;

    .filters--opened-menu &--close {
      display: block;
      margin-left: 10px;
    }

    .filters--closed-menu &--open {
      display: block;
    }
  }
}

.filter-country__country-list {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: -36px;
    left: 0;
  }
}

.filter-country__country-select-list {
  position: absolute;
  margin-top: 14px;
  visibility: hidden;
  transform: scaleY(0);
  opacity: 0;

  &--selected {
    position: static;
    visibility: visible;
    transform: scaleY(1);
    opacity: 1;
  }
}

.filter-country__close-btn {
  position: relative;
  width: 100%;
  margin-top: 28px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;

  @include font-size(bold, 16px, 20px);

  color: #192144;
  font-family: inherit;
  background-color: #d6daed;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;

  &::before {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 1px);
    left: 80px;
    width: 16px;
    height: 2px;
    background-color: #192144;
    border-radius: 2px;
    transform: rotate(-45deg);
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 1px);
    left: 80px;
    width: 16px;
    height: 2px;
    background-color: #192144;
    border-radius: 2px;
    transform: rotate(45deg);
  }
}

.filter-country__dropdown {
  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }
}
