.filter-country {
  background-color: $special_blue_filter;
}

.filter-country__wrapper {
  @include wrapper;

  padding-top: 20px;
}

.filter-country__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-country__title {
  position: relative;
  margin: 0;
  padding-left: 27px;

  @include font-size(bold, 16px ,18px);

  color: $link-dark;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 15px;
    height: 10px;
    background-color: $special_orange;
  }
}

.filter-country__toggle-btn {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $special_orange;
}

.filter-country__dropdown {
  padding-left: 25px;
}

.filter-country__country-select-list {
  margin-top: 14px;
}

.filter-country__close-btn {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 28px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  @include font-size(bold, 16px, 20px);

  font-family: inherit;
  background-color: $bg-country-button;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
}
