.flags-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flags-list__item {
  position: relative;
  width: 35px;
  height: 25px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &[data-hover] {
    &::before {
      position: absolute;
      content: attr(data-hover);
      z-index: 3;
      top: 136%;
      left: 50%;
      display: none;
      padding-top: 16px;
      padding-bottom: 17px;
      padding-right: 24px;
      padding-left: 24px;

      @include font-size(normal, 20px, 20px);

      color: #ffffff;
      white-space: nowrap;
      background-color: #101d41;
      border-radius: 4px;
      transform: translateX(-50%);
    }

    &::after {
      position: absolute;
      content: "";
      z-index: 3;
      top: 90%;
      left: 50%;
      display: none;
      width: 0;
      height: 0;

      border-bottom: 9px solid #101d41;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      transform: translateX(-50%) translateY(41%);
    }

    &:hover {
      &::before,
      &::after {
        display: block;
      }
    }
  }
}
