.food-select {
  border-top: 1px solid $border-select-travelmates;
  border-bottom: 1px solid $border-select-travelmates;
}

.food-select__title-btn {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  @include font-size(bold, 16px, 18px);

  font-family: inherit;
  color: $basic_blue_light;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.food-select__list {
  @include list-style;

  padding-top: 2px;
  padding-bottom: 21px;
}
