.form-page {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.form-page__title-wrapper {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #182044;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 89px;
    padding-bottom: 71px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 71px;
  }
}

.form-page__title {
  position: relative;
  display: block;
  margin: 0;

  @include wrapper;
  @include font-size(bold, 36px, 36px);

  color: #ffffff;

  &::after {
    position: absolute;
    content: "";
    bottom: -17px;
    left: 0;
    display: block;
    width: 215px;
    height: 5px;
    background-color: #ff8d30;
    border-radius: 4px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 34px;

    @include font-size(bold, 60px, 60px);

    &::after {
      bottom: -75px;
      left: 36px;
      width: 354px;
      height: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 61px;
    padding-right: 61px;

    &::after {
      bottom: -76px;
      left: 63px;
      width: 358px;
    }
  }
}

.form-page__add-plan {
  margin-top: -30px;
  margin-bottom: -30px;

  @media (min-width: $desktop-width) {
    margin-top: -55px;
  }
}
