.fun-list {
  .form-page & {
    @media (min-width: $tablet-width) {
      padding-top: 20px;
      border-top: 1px solid #e1e3e9;
    }

    @media (min-width: $desktop-width) {
      padding-top: 61px;
    }
  }
}

.fun-list__item {
  .form-page & {
    @media (min-width: $tablet-width) {
      &:not(:last-child) {
        margin-bottom: 51px;
      }

      &:last-child {
        margin-bottom: 42px;
      }
    }

    @media (min-width: $desktop-width) {
      &:last-child {
        margin-bottom: 63px;
      }
    }
  }
}
