.hobby-select {
  border-top: 1px solid #f3c72b;
}

.hobby-select__title-btn {
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  @include font-size(bold, 16px, 18px);

  font-family: inherit;
  color: #1d2e5b;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 4px);
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid #1d2e5b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}

.hobby-select__list {
  @include list-style;

  padding-top: 2px;
  padding-bottom: 21px;
}

.hobby-select__label {
  position: relative;
  padding-left: 27px;

  @include font-size(normal, 15px, 20px);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .hobby-select__input:checked + &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 5px);
    left: 5px;
    width: 9px;
    height: 9px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
  }
}
