.level-select {
  border-top: 1px solid #f3c72b;
}

.level-select__title-btn {
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  @include font-size(bold, 16px, 18px);

  font-family: inherit;
  color: #1d2e5b;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 4px);
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid #1d2e5b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}

.level-select__list {
  padding-top: 2px;
  padding-bottom: 21px;
}

.level-select__input-wrapper {
  position: relative;
  display: flex;

  &::after {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 9px);
    content: "";
    display: block;
    width: 16px;
    height: 11px;
    background-color: #cbced9;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
  }
}

.level-select__input {
  width: 50%;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;

  @include font-size(500, 14px, 13px);

  letter-spacing: 0.07em;
  text-align: center;
  border: 1px solid #cbced9;

  &:first-child {
    margin-right: -1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
