.level {
  width: fit-content;
  height: fit-content;

  .catalog-page & {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.level__title {
  display: block;
  width: max-content;
  margin: 0;
  margin-top: -11px;
  margin-bottom: 10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;

  @include font-size(normal, 15px, 18px);

  text-transform: lowercase;
  background-color: $basic_white;
}

.level__wrapper {
  .catalog-page & {
    position: relative;
  }

  .form-page & {
    position: relative;
  }
}

.level__progress-bar {
  width: 60px;
  height: 60px;

  .catalog-page & {
    width: 45px;
    height: 45px;
  }

  .form-page & {
    width: 100px;
    height: 100px;
  }
}

.level__progress-bar-scale {
  fill: rgba($basic_black, 0.6);

  .catalog-page & {
    fill: none;
  }

  .form-page & {
    fill: none;
  }
}

.level__progress-bar-indicator {
  fill: none;
  stroke-width: 4px;
  stroke: $special_orange;
}

.level__inner-wrapper {
  position: absolute;
  top: 10px;
  left: 16px;

  .catalog-page & {
    top: 11px;
    left: 9px;
  }

  .form-page & {
    top: 18px;
    left: 28px;
  }
}

.level__number {
  margin: 0;

  @include font-size(bold, 24px, 24px);

  border-bottom: 1px solid rgba($basic_white, 0.3);

  .catalog-page & {
    color: $basic_blue_light;
    border: none;
  }

  .form-page & {
    @include font-size(bold, 38px, 38px);

    color: $basic_blue;
    border-color: rgba($special_grey, 0.3);
  }
}

.level__text {
  margin: 0;
  margin-top: 2px;

  @include font-size(normal, 14px, 14px);

  .form-page & {
    text-align: center;

    @include font-size(normal, 18px, 18px);

    color: $special_grey;
  }
}
