.level {
  width: fit-content;
  height: fit-content;

  .catalog-page & {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.level__title {
  display: block;
  width: max-content;
  margin: 0;
  margin-right: 9px;
  margin-bottom: 11px;
  padding-left: 10px;
  padding-right: 10px;

  @include font-size(normal, 15px, 18px);

  text-transform: lowercase;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      display: none;
    }
  }
}

.level__wrapper {
  .catalog-page & {
    position: relative;
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  .form-page & {
    position: relative;
  }
}

.level__progress-bar {
  width: 60px;
  height: 60px;

  .catalog-page & {
    width: 45px;
    height: 45px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
    }
  }

  .form-page & {
    width: 100px;
    height: 100px;

    @media (min-width: $tablet-width) {
      width: 94px;
      height: 94px;
    }
  }
}

.level__progress-bar-scale {
  fill: rgba(#000000, 0.6);

  .catalog-page & {
    fill: none;
  }

  .form-page & {
    fill: none;
  }
}

.level__progress-bar-indicator {
  transform: rotate(-90deg) translateX(-60px);
  fill: none;
  stroke-width: 4px;
  stroke: #ff8d30;
  stroke-dasharray: 440;

  .level--99 & {
    stroke-dashoffset: 257;
  }

  .level--80 & {
    stroke-dashoffset: 289;
  }

  .level--50 & {
    stroke-dashoffset: 346;
  }

  .level--25 & {
    stroke-dashoffset: 393;
  }

  .catalog-page & {
    stroke-linecap: round;

    @media (min-width: $tablet-width) {
      stroke-width: 3px;
    }
  }

  .form-page & {
    @media (min-width: $tablet-width) {
      stroke-width: 2px;
    }
  }
}

.level__inner-wrapper {
  position: absolute;
  top: 10px;
  left: 16px;

  .catalog-page & {
    top: 11px;
    left: 9px;

    @media (min-width: $tablet-width) {
      left: 17px;
    }
  }

  .form-page & {
    top: 18px;
    left: 28px;

    @media (min-width: $tablet-width) {
      left: 26px;
    }
  }
}

.level__number {
  margin: 0;

  @include font-size(bold, 24px, 24px);

  border-bottom: 1px solid rgba(#ffffff, 0.3);

  .catalog-page & {
    color: #1d2e5b;
    border: none;

    @media (min-width: $tablet-width) {
      border-bottom: 1px solid rgba(#000000, 0.1);
    }
  }

  .form-page & {
    @include font-size(bold, 38px, 38px);

    color: #161c35;
    border-color: rgba(#444444, 0.3);

    @media (min-width: $desktop-width) {
      color: #ffffff;
      border-color: rgba(#ffffff, 0.3);
    }
  }
}

.level__text {
  margin: 0;
  margin-top: 2px;

  @include font-size(normal, 14px, 14px);

  .catalog-page & {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      color: rgba(#000000, 0.4);
    }
  }

  .form-page & {
    text-align: center;

    @include font-size(normal, 18px, 18px);

    color: #444444;

    @media (min-width: $desktop-width) {
      padding-top: 2px;
      color: #ffffff;
    }
  }
}
