.level-select {
  border-top: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 127px auto;
    grid-template-rows: auto;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 37px;
    border: none;
    border-bottom: 1px solid #f3c72b;
  }
}

.level-select__title-btn {
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  @include font-size(bold, 16px, 18px);

  font-family: inherit;
  color: #1d2e5b;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 4px);
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid #1d2e5b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    @include font-size(500, 20px, 20px);

    &::after {
      display: none;
    }
  }
}

.food-select__title-btn-add {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;

    @include font-size(500, 20px, 20px);
  }
}

.level-select__list {
  padding-top: 2px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 281px 148px;
    grid-template-rows: auto;
    column-gap: 61px;
    padding: 0;
  }
}

.level-select__range {
  @media (min-width: $tablet-width) {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    display: block;
    width: 281px;
    height: 3px;
    background-color: rgba(#1d2e5b, 0.2);
    border-radius: 2px;
  }
}

.level-select__scrollbar {
  position: absolute;
  left: 30%;
  right: 0;
  height: 100%;
  background-color: #1d2e5b;
}

.level-select__toggle {
  position: absolute;
  top: -5px;
  width: 13px;
  height: 13px;
  background-color: #1d2e5b;
  border-radius: 50%;

  &--min {
    left: 30%;
  }

  &--max {
    right: 0;
  }
}

.level-select__input-wrapper {
  position: relative;
  display: flex;

  &::after {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 9px);
    content: "";
    display: block;
    width: 16px;
    height: 11px;
    background-color: #cbced9;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    width: 148px;

    &::after {
      width: 21px;
      left: calc(50% - 11px);
    }
  }
}

.level-select__input {
  width: 50%;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;

  @include font-size(500, 14px, 13px);

  color: #1d2e5b;
  letter-spacing: 0.07em;
  text-align: center;
  border: 1px solid #cbced9;

  &:first-child {
    margin-right: -1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  @media (min-width: $tablet-width) {
    min-height: 46px;

    @include font-size(500, 20px, 20px);

    letter-spacing: 0.06em;
  }
}
