.location {
  position: relative;
  min-height: 238px;
  padding-top: 63px;
  background-color: $basic_yellow;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: -55px;
    min-height: 378px;
    padding-top: 124px;
    padding-bottom: 84px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 260px;
    padding-top: 114px;
    padding-bottom: 56px;
  }
}

.location__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 223px;
    padding-right: 75px;
  }
}

.location__address {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 32px;

  @include font-size(bold, 16px, 22px);

  color: #1d2e5b;
  text-transform: uppercase;

  &::before {
    display: block;
    content: "";
    min-width: 45px;
    height: 45px;
    margin-right: 16px;
    background-color: #1d2e5b;
    background-image: url("../img/icon_location.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21px 21px;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;

    @include font-size(bold, 28px, 28px);

    &::before {
      min-width: 68px;
      height: 68px;
      background-color: #121936;
      background-size: 32px 32px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    &::before {
      min-width: 90px;
      height: 90px;
      margin-right: 31px;
      background-color: #121936;
      background-size: 42px 42px;
    }
  }
}

.location__btn {
  position: relative;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;

  @include font-size(bold, 18px, 28px);

  color: #1d2e5b;
  text-decoration: none;
  border: 3px solid #1d2e5b;
  border-radius: 10px;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 7px);
    right: 23px;
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #1d2e5b;
  }

  @media (min-width: $tablet-width) {
    min-height: 80px;
    padding-left: 38px;
    padding-top: 25px;
    padding-bottom: 25px;

    @include font-size(bold, 24px, 24px);

    border-radius: 20px;

    &::after {
      right: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 324px;
    padding-top: 23px;
  }
}
