.location {
  background-color: $basic_yellow;
}

.location__wrapper {
  @include wrapper();
}

.location__address {
  margin: 0;
  text-transform: uppercase;

  @include font-size(16px, bold, 22px);
}

.location__btn {
  text-decoration: none;
  color: $basic_blue_light;

  @include font-size(18px, bold, 28px);
}
