.logo {
  width: 100px;
  height: 19px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.logo__img {
  width: 100%;
  height: 100%;

  &--blue {
    display: none;
  }

  .page-footer & {
    &--blue {
      display: block;
    }
  }

  .page-header & {
    .page-header--opened-menu &,
    .page__body--no-js & {
      display: none;

      &--blue {
        display: block;
      }
    }

    .page-header--scroll & {
      display: none;

      &--blue {
        display: block;
      }
    }
  }
}
