.main-nav {
  display: flex;
  flex-direction: column;
  background-color: $basic-white;
}

.main-nav__contact-link {
  display: block;
  min-height: 45px;
}

.main-nav__social {
  align-self: center;
  margin-top: 40px;
}
