.main-nav {
  display: flex;
  flex-direction: column;
  min-height: 470px;
  padding-top: 68px;
  padding-bottom: 28px;
  background-color: #ffffff;

  .page-header--opened-menu & {
    z-index: 6;
  }

  .page__body--no-js & {
    @media (max-width: $tablet-width-only) {
      padding-bottom: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    min-height: 53px;
    padding: 0;
    background: transparent;
  }
}

.main-nav__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    padding-left: 57px;
    padding-right: 57px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.main-nav__user-nav-list {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__contact-wrapper {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__contact-link {
  display: block;
  min-height: 45px;
}

.main-nav__social {
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 113px;
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
