.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .page-header--no-js & {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.main-nav__wrapper {
  @include wrapper;
}

.main-nav__contact-link {
  display: block;
  min-height: 45px;
}

.main-nav__social {
  margin-top: 40px;
}
