.map {
  min-height: 322px;
  margin-top: -25px;
  margin-bottom: -25px;
  background-color: $basic_white;
  background-image: url("../img/background_map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
