.music-select {
  border-top: 1px solid #f3c72b;
}

.music-select__title-btn {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  @include font-size(bold, 16px, 18px);

  font-family: inherit;
  color: #1d2e5b;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.music-select__list {
  @include list-style;

  padding-top: 2px;
  padding-bottom: 21px;
}

.music-select__label {
  position: relative;
  padding-left: 27px;

  @include font-size(normal, 15px, 20px);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 4px;
  }
}
