.music-select {
  border-top: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding-top: 25px;
    border: none;
  }
}

.music-select__title-btn {
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  @include font-size(bold, 16px, 18px);

  font-family: inherit;
  color: #1d2e5b;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 4px);
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid #1d2e5b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    @include font-size(500, 20px, 20px);

    &::after {
      display: none;
    }
  }
}

.music-select__title-btn-add {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;

    @include font-size(500, 20px, 20px);
  }
}

.music-select__list {
  @include list-style;

  padding-top: 2px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0;
  }
}

.music-select__label {
  position: relative;
  padding-left: 27px;

  @include font-size(normal, 15px, 20px);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .music-select__input:checked + &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 5px);
    left: 5px;
    width: 9px;
    height: 9px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::before {
      width: 24px;
      height: 24px;
      top: -4px;
      left: 0;
    }

    .music-select__input:checked + &::after {
      top: calc(100% / 2 - 6px);
      left: 7px;
      width: 11px;
      height: 11px;
    }
  }
}

.music-select__text {
  @media (min-width: $tablet-width) {
    padding-left: 36px;

    @include font-size(normal, 20px, 20px);
  }
}
