.nav-toggle-btn {
  position: relative;
  width: 19px;
  height: 19px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: -3px;
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 3px;

    .page-header--scroll & {
      background-color: #cccccc;
    }

    .page-header--opened-menu & {
      top: 7px;
      background-color: #cccccc;
      transform: rotate(-45deg);
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 11px;
    left: -3px;
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 3px;

    .page-header--scroll & {
      background-color: #cccccc;
    }

    .page-header--opened-menu & {
      top: 7px;
      background-color: #cccccc;
      transform: rotate(45deg);
    }
  }

  @media (min-width: $tablet-width) {
    width: 25px;
    height: 25px;

    &::before {
      top: 8px;
      left: 10px;
    }

    &::after {
      top: 17px;
      left: 10px;
    }
  }
}
