.page-header {
  position: relative;
  width: 100%;
  min-height: 15px;
  padding-top: 28px;
  background-color: $basic_blue;

  &--opened-menu,
  &--no-js {
    background-color: #ffffff;
  }

  &--no-js {
    z-index: 2;
    margin-bottom: -30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include wrapper;
}

.page-header__main-nav {
  position: absolute;
  min-height: 470px;
  padding-top: 52px;
  padding-bottom: 41px;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;

  .page-header--opened-menu &,
  .page-header--no-js & {
    top: 47px;
    left: 0;
    width: 100%;
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
  }

  .page-header--no-js & {
    position: static;
  }
}
