.page-header {
  position: relative;
  width: 100%;
  min-height: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #161c35;

  &--scroll {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
  }

  .page__body--no-js & {
    @media (max-width: $tablet-width-only) {
      z-index: 2;
      background-color: #ffffff;
    }
  }

  .page__body--catalog &,
  .page__body--form & {
    background-color: #182044;

    &--scroll {
      background-color: #ffffff;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: #182044;
    min-height: 50px;
    padding-top: 40px;
    padding-bottom: 40px;

    &--scroll {
      background-color: #ffffff;
    }

    .page__body--catalog &,
    .page__body--form & {
      &--scroll {
        background-color: #ffffff;
      }
    }
  }

  @media (max-width: $tablet-width-only) {
    &--opened-menu {
      background-color: #ffffff;
    }

    .page__body--catalog &,
    .page__body--form & {
      &--opened-menu {
        background-color: #ffffff;
      }
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 53px;
    padding-top: 46px;
    padding-bottom: 46px;
    background-color: #161c35;

    &--scroll {
      background-color: #ffffff;
    }
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;

  @include wrapper;

  .page__body--no-js & {
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    .page__body--no-js & {
      flex-direction: column;
    }
  }

  @media (min-width: $desktop-width) {
    .page__body--no-js & {
      flex-direction: row;
    }
  }
}

.page-header__logo {
  .page__body--no-js & {
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
}

.page-header__main-nav {
  position: absolute;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;

  .page-header--opened-menu &,
  .page__body--no-js & {
    top: 47px;
    left: 0;
    width: 100%;
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;

    @media (min-width: $tablet-width) {
      top: 117px;
    }
  }

  .page__body--no-js & {
    position: static;
  }

  @media (min-width: $desktop-width) {
    position: static;
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
  }
}

.page-header__contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;

    .page__body--no-js & {
      order: -1;
      align-self: flex-end;
      margin-bottom: -40px;
    }
  }

  @media (min-width: $desktop-width) {
    align-self: unset;
    order: unset;
    margin-left: auto;
    margin-bottom: 0;

    .page__body--no-js &,
    .page-header--opened-menu & {
      order: unset;
      align-self: unset;
      margin-bottom: 0;
    }
  }
}

.page-header__login-link-box {
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-grow: unset;
  }
}

.page-header__nav-toggle-btn {
  margin-left: auto;

  .page__body--no-js & {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
