.plan {
  min-height: 154px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
  border-radius: 10px;
}

.plan__title,
.plan__travelmates,
.plan__date {
  margin: 0;
  color: #1d2e5b;
}

.plan__title {
  margin-bottom: 19px;
}

.plan__number {
  @include font-size(500, 16px, 16px);
}

.plan__title-text {
  @include font-size(bold, 16px, 16px);
}

.plan__travelmates,
.plan__date,
.plan__change-btn {
  @include font-size(500, 14px, 14px);

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.plan__travelmates {
  margin-bottom: 5px;
}

.plan__date {
  margin-bottom: 19px;
}

.plan__change-btn {
  color: rgba(#000000, 0.3);
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
