.plan {
  min-height: 154px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 35px;
    min-height: 152px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 576px 178px 306px auto;
    grid-template-rows: auto;
    min-height: 97px;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 43px;
    padding-right: 43px;
  }
}

.plan__title,
.plan__travelmates,
.plan__date {
  margin: 0;
  color: #1d2e5b;
}

.plan__title {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
  }
}

.plan__number {
  @include font-size(500, 16px, 16px);

  @media (min-width: $tablet-width) {
    @include font-size(500, 20px, 20px);
  }

  @media (min-width: $desktop-width) {
    margin-right: 36px;
  }
}

.plan__title-text {
  @include font-size(bold, 16px, 16px);

  @media (min-width: $tablet-width) {
    @include font-size(bold, 24px, 24px);
  }
}

.plan__travelmates,
.plan__date,
.plan__change-btn {
  @include font-size(500, 14px, 14px);

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size(500, 20px, 20px);
  }
}

.plan__travelmates {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    align-self: end;
    margin: 0;
    letter-spacing: 0.1em;
  }
}

.plan__date {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    align-self: end;
    margin: 0;
  }
}

.plan__change-btn {
  color: rgba(#000000, 0.3);
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.1);
  }

  @media (min-width: $tablet-width) {
    justify-self: end;
    align-self: end;
    letter-spacing: 0.1em;
  }
}
