.profile {
  padding-top: 24px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 54px;
  }
}

.profile__wrapper {
  @include wrapper;

  .form-page & {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 308px 1fr;
      grid-template-rows: 94px 60px 95px;
      row-gap: 52px;
      padding-left: 34px;
      padding-right: 34px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 732px 384px;
      grid-template-rows: 105px;
      column-gap: 140px;
      row-gap: unset;
      padding-left: 64px;
      padding-right: 0;
    }
  }
}

.profile__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;

  .form-page & {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      grid-column: unset;
      grid-row: unset;
    }
  }
}

.profile__level {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 104px;
    right: 389px;
  }
}

.profile__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 73px;
    right: 158px;
    width: 190px;
    height: 190px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.profile__photo-caption {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 100%;
    min-height: 47px;
    margin-top: -6px;
    padding: 13px;

    @include font-size(500, 20px, 18px);

    text-align: center;
    text-transform: uppercase;
    background-color: #dfe3f0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.profile__photo-change-btn {
  width: 100%;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;

  @include font-size(500, 20px, 18px);

  color: #161c35;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #dfe3f0;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #d1d7d9;
  }

  &:active {
    color: rgba(#161c35, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 263px;
    right: 158px;
    width: 190px;
    height: 47px;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.profile__photo-change-btn-add {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.profile__hashtags {
  margin-top: 18px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.profile__transport {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
