.promo-steps-list {
  display: grid;

  @include list-style;

  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }
}

.promo-steps-list__item {
  position: relative;
  display: block;
  padding-top: 22px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 10px;

  &::after {
    position: absolute;
    top: 22px;
    right: 21px;
    color: #ffffff;

    @include font-size(bold, 18px, 18px);
  }

  &:first-child {
    z-index: 1;
    min-height: 140px;
    background-color: $special_orange;

    &::after {
      content: "1";
    }
  }

  &:nth-child(2) {
    z-index: 1;
    min-height: 140px;
    margin-top: -60px;
    background-color: #ffa530;

    &::after {
      content: "2";
    }
  }

  &:nth-child(3) {
    z-index: 2;
    min-height: 140px;
    margin-top: -60px;
    background-color: $special_yellow_dark;

    &::after {
      content: "3";
    }
  }

  &:last-child {
    z-index: 3;
    min-height: 80px;
    margin-top: -60px;
    background-color: $basic_yellow;

    &::after {
      content: "4";
    }
  }

  @media (min-width: 768px) {
    max-width: 100%;
    min-height: 140px;
    padding-top: 31px;
    padding-left: 33px;
    padding-bottom: 28px;
    border-radius: 0;

    &::after {
      top: 88px;
      left: 34px;

      @include font-size(bold, 30px, 30px);
    }

    &:nth-child(2n-1) {
      z-index: 1;
      width: 365px;
      margin: 0;
    }

    &:nth-child(2n) {
      z-index: 2;
      width: 344px;
      margin: 0;
      margin-left: -10px;
    }

    &:first-child {
      margin: 0;
      border-top-left-radius: 10px;
    }

    &:nth-child(2) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:nth-child(3) {
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.promo-steps-list__item-text {
  display: block;
  width: 150px;
  min-height: 36px;
  color: $basic_blue;

  @include font-size(bold, 18px, 18px);

  @media (min-width: 768px) {
    width: 200px;

    @include font-size(bold, 24px, 24px);
  }
}
