.rates {
  position: relative;
  padding-top: 67px;
  padding-bottom: 38px;
  background-color: #e6e8f1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 135px;
    padding-bottom: 63px;
    background-color: #edeff6;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 818px;
    padding-top: 175px;
    padding-bottom: 165px;
  }
}

.rates__wrapper {
  position: relative;

  @include wrapper;

  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 34px;

    &::after {
      position: absolute;
      content: "";
      top: 85px;
      right: 0;
      z-index: 0;
      display: block;
      width: 198px;
      height: 285px;
      background-color: #e2e5f2;
      border-radius: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;

    &::after {
      top: 130px;
      right: 254px;
      width: 446px;
      height: 300px;
    }
  }
}

.rates__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: center;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 134px;
  }
}

.rates__title {
  margin: 0;
  color: $special_orange;

  @include font-size(bold, 24px, 24px);

  @media (min-width: $tablet-width) {
    @include font-size(bold, 45px, 45px);
  }
}

.rates__icon {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    bottom: -20px;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    top: 180px;
    right: 144px;
    display: block;
    width: 198px;
    height: 198px;
  }
}

.rates__list {
  @include list-style;

  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
    padding-left: 54px;
  }

  @media (min-width: $desktop-width) {
    max-width: 813px;
    min-height: 198px;
    padding-left: 91px;
  }
}

.rates__item {
  position: relative;
  max-width: 200px;
  min-height: 65px;
  padding-top: 12px;
  padding-bottom: 16px;
  border-top: 1px solid #e1e3e9;

  &:last-of-type {
    border-bottom: 1px solid #e1e3e9;
  }

  &::after {
    position: absolute;
    content: "";
    top: 3px;
    right: -44px;
    display: block;
    width: 34px;
    height: 34px;
    padding-top: 9px;

    @include font-size(normal, 16px, 16px);

    color: $basic_white;
    text-align: center;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 0;
      left: -90px;
      width: 68px;
      height: 68px;
      padding-top: 20px;

      @include font-size(300, 28px, 28px);
    }
  }

  &:first-of-type::after {
    content: "1";
    background-color: $special_orange;
  }

  &:nth-of-type(2)::after {
    content: "2";
    background-color: $special_yellow_dark;
  }

  &:nth-of-type(3)::after {
    content: "3";
    background-color: $basic_yellow;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-height: 68px;

    @include font-size(300, 28px, 28px);
  }
}

.rates__text,
.rates__price {
  margin: 0;

  @include font-size(300, 16px, 16px);

  color: $special_grey;

  @media (min-width: $tablet-width) {
    @include font-size(300, 28px, 28px);
  }
}

.rates__text {
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.rates__modal-open {
  display: block;
  text-align: center;

  @include font-size(bold, 16px, 16px);

  color: #132576;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 68px;
    padding-top: 20px;
    padding-left: 55px;
    text-align: left;

    @include font-size(bold, 20px, 20px);

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -35px;
      display: block;
      width: 68px;
      height: 68px;
      background-color: #e2e5f2;
      background-image: url("../img/user.svg");
      background-position: center center;
      background-size: 27px 27px;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    margin-left: 35px;
    padding-top: 25px;
  }
}

.rates__business-rates {
  position: absolute;
  top: 15px;
  left: 25px;
  right: 25px;
  z-index: 3;
}
