.rates__wrapper {
  @include wrapper();
}

.rates__title {
  margin: 0;
  color: $special_orange;

  @include font-size(24px, bold, 24px);
}

.rates__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rates__modal-open {
  color: $link_light;
  text-decoration: none;

  @include font-size(16px, bold, 16px);
}
