.rates {
  position: relative;
  padding-top: 67px;
  padding-bottom: 38px;
  background-color: #e6e8f1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: 768px) {
    padding-bottom: 63px;
  }
}

.rates__wrapper {
  @include wrapper;

  padding-left: 25px;
}

.rates__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
}

.rates__title {
  margin: 0;
  color: $special_orange;

  @include font-size(bold, 24px, 24px);
}

.rates__list {
  max-width: 400px;

  @include list-style;

  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
}

.rates__item {
  position: relative;
  max-width: 200px;
  min-height: 65px;
  padding-top: 12px;
  padding-bottom: 16px;
  border-top: 1px solid #e1e3e9;

  &:last-of-type {
    border-bottom: 1px solid #e1e3e9;
  }

  &::after {
    position: absolute;
    content: "";
    top: 3px;
    right: -44px;
    display: block;
    width: 34px;
    height: 34px;
    padding-top: 9px;

    @include font-size(normal, 16px, 16px);

    color: $basic_white;
    text-align: center;
    border-radius: 50%;
  }

  &:first-of-type::after {
    content: "1";
    background-color: $special_orange;
  }

  &:nth-of-type(2)::after {
    content: "2";
    background-color: $special_yellow_dark;
  }

  &:nth-of-type(3)::after {
    content: "3";
    background-color: $basic_yellow;
  }
}

.rates__text,
.rates__price {
  margin: 0;

  @include font-size(300, 16px, 16px);

  color: $special_grey;
}

.rates__text {
  margin-bottom: 7px;
}

.rates__modal-open {
  display: block;
  text-align: center;

  @include font-size(bold, 16px, 16px);

  color: #132576;
  text-decoration: none;
}

.rates__business-rates {
  position: absolute;
  top: 15px;
  left: 25px;
  right: 25px;
  z-index: 3;
}
