.reg-form {
  position: relative;
  z-index: 1;
  min-height: 536px;
  padding-top: 85px;
  background-color: #192144;
  color: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: 768px) {
    min-height: 772px;
    padding-top: 133px;
    padding-bottom: 60px;
  }
}

.reg-form__wrapper {
  @include wrapper;

  @media (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
  }
}

.reg-form__title {
  margin: 0;
  padding-bottom: 19px;
  text-align: center;

  @include font-size(bold, 24px, 24px);

  color: $special_orange;

  @media (min-width: 768px) {
    padding-bottom: 59px;

    @include font-size(bold, 45px, 45px);
  }
}

.reg-form__text {
  display: block;
  max-width: 400px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 640px;
    padding-bottom: 65px;

    @include font-size(300, 28px, 32px);
  }
}

.reg-form__signin-link {
  color: $basic_yellow;
}

.reg-form__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.reg-form__input {
  flex-grow: 1;
  min-height: 62px;
  margin-right: -10px;
  padding-left: 25px;
  font-family: inherit;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  &::placeholder {
    @include font-size(bold, 18px, 18px);

    color: rgba($special_grey, 0.3);
  }

  @media (min-width: 768px) {
    min-height: 80px;
    padding-left: 36px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    &::placeholder {
      @include font-size(bold, 24px, 24px);
    }
  }
}

.reg-form__btn {
  position: relative;
  align-self: stretch;
  min-width: 60px;
  padding: 0;
  background-color: $basic_yellow;
  border: none;
  border-radius: 10px;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 7px);
    right: calc(100% / 2 - 7px);
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #1d2e5b;
  }

  @media (min-width: 768px) {
    min-width: 80px;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.reg-form__contacts-text {
  margin: 0;
  margin-bottom: 18px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 40px;

    @include font-size(300, 28px, 30px);

    letter-spacing: 0.01em;
  }
}
