.site-nav-list {
  @include list-style;

  margin-bottom: 50px;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;
    padding-left: 94px;
  }
}

.site-nav-list__item {
  @media (min-width: $desktop-width) {
    &:not(:first-child) {
      margin-left: 34px;
    }

    &:first-child {
      position: relative;

      &::before {
        position: absolute;
        top: calc(100% / 2 - 1px);
        left: -94px;
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background-color: #ffffff;
      }
    }
  }
}

.site-nav-list__link {
  color: #192144;
  text-transform: uppercase;
  text-decoration: none;

  @include font-size(500, 30px, 35px);

  @media (min-width: $desktop-width) {
    @include font-size(500, 20px, 20px);

    color: #ffffff;
  }
}
