.site-nav-list {
  @include list-style;

  margin-bottom: 50px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 144px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;
    padding-left: 105px;
  }
}

.site-nav-list__item {
  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
    text-align: unset;

    &:not(:first-child) {
      margin-left: 34px;
    }

    &:first-child {
      position: relative;

      &::before {
        position: absolute;
        top: calc(100% / 2);
        left: -105px;
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background-color: #ffffff;

        .page-header--scroll & {
          background-color: #192144;
        }
      }
    }
  }
}

.site-nav-list__link {
  color: #192144;
  text-transform: uppercase;
  text-decoration: none;

  @include font-size(500, 30px, 35px);

  @media (min-width: $tablet-width) {
    @include font-size(500, 60px, 71px);
  }

  @media (min-width: $desktop-width) {
    @include font-size(500, 20px, 20px);

    color: #ffffff;

    .page-header--scroll & {
      color: #192144;
    }
  }
}
