.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include list-style;

  @media (min-width: $tablet-width) {
    justify-content: left;
  }
}

.social__item {
  width: 45px;
  height: 45px;

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;

  &--fb {
    padding-top: 11px;
  }

  &--vk {
    padding-top: 12px;
  }

  &--inst {
    padding-top: 13px;
  }

  .page-header & {
    &:hover,
    &:focus {
      .social__icon {
        opacity: 0.6;
      }
    }
  }

  .page-footer & {
    background-color: #ffd74b;
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: #ffbd30;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;

    &--fb {
      padding-top: 16px;
    }

    &--vk {
      padding-top: 21px;
    }

    &--inst {
      padding-top: 19px;
    }
  }
}

.social__icon {
  fill: #192144;

  &--fb {
    width: 11px;
    height: 21px;
  }

  &--vk {
    width: 23px;
    height: 12px;
  }

  &--instagram {
    width: 18px;
    height: 18px;
    opacity: 0.5;

    .page-footer__social & {
      opacity: 1;
    }
  }

  @media (min-width: $tablet-width) {
    &--fb {
      width: 14px;
      height: 26px;
    }

    &--vk {
      width: 28px;
      height: 18px;
    }

    &--instagram {
      width: 22px;
      height: 22px;
    }
  }
}
