.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include list-style;
}

.social__item {
  width: 45px;
  height: 45px;

  .page-footer & {
    background-color: $basic_yellow;
    border-radius: 50%;
  }
}

.social__link {
  display: block;
  width: 23px;
  height: 23px;
  text-align: center;

  &--fb {
    padding-top: 11px;
    padding-left: 17px;
  }

  &--vk {
    padding-top: 12px;
    padding-left: 10px;
  }

  &--inst {
    padding-top: 13px;
    padding-left: 14px;
  }
}

.social__icon {
  fill: $link-dark;

  &--fb {
    width: 11px;
    height: 21px;
  }

  &--vk {
    width: 23px;
    height: 12px;
  }

  &--instagram {
    width: 18px;
    height: 18px;
    opacity: 0.5;

    .page-footer__social & {
      opacity: 1;
    }
  }
}
