.step {
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
  border-radius: 10px;

  &--1 {
    padding-bottom: 23px;
  }

  &--2,
  &--3 {
    padding-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 56px;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 30px;
  }
}

.step__description-wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.step__input-wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.step__title {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.step__title-number,
.step__title-text {
  @include font-size(bold, 20px, 20px);

  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    @include font-size(bold, 36px, 36px);
  }
}

.step__description {
  margin: 0;

  @include font-size(normal, 16px, 22px);

  color: #444444;

  @media (min-width: $tablet-width) {
    padding-right: 10px;

    @include font-size(normal, 20px, 24px);
  }
}

.step__count-travelmates {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.step__duration {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 0;
  }
}

.step__child {
  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.step__btn-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 286px auto;
    column-gap: 60px;
    width: 100%;
    min-height: 80px;
  }
}

.step__btn {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;

  @include font-size(bold, 17px, 30px);

  font-family: inherit;
  color: #1d2e5b;
  text-transform: uppercase;
  background-color: #ffd74b;
  border: none;
  border-radius: 20px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &--prev {
    background: transparent;
  }

  @media (min-width: $tablet-width) {
    padding-left: 33px;
    padding-right: 33px;

    @include font-size(bold, 24px, 24px);

    text-transform: unset;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      content: "";
      top: calc(100% / 2 - 7px);
      right: 33px;
      display: block;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid #1d2e5b;
    }

    &--prev {
      padding-right: 0;

      &::after {
        left: 0;
        border-left: none;
        border-right: 10px solid #1d2e5b;
      }
    }
  }
}

.step__fun-list {
  @include list-style;

  margin-bottom: 22px;
}
