.transport-form {
  .form-page & {
    @media (min-width: $tablet-width) {
      position: relative;
    }
  }
}

.transport-form__title {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17px;
  padding-right: 17px;
  z-index: 1;
  text-align: center;

  @include font-size(bold, 16px, 18px);

  color: #1d2e5b;
  background-color: #edeff6;
  text-transform: uppercase;

  .form-page & {
    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: 0;
      left: calc(100% / 2 - 76px);
      padding-left: 19px;
      padding-right: 19px;

      @include font-size(500, 20px, 20px);

      letter-spacing: 0.08em;
    }

    @media (min-width: $tablet-width) {
      bottom: 12px;
    }
  }
}

.transport-form__list {
  @include list-style;
}
