.transport-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transport-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }

  .catalog-page & {
    width: 32px;
    height: 32px;
    margin: 0;
    background-color: $basic_blue_lighter;
    border-radius: 50%;
  }
}
