.transport-select {
  border-top: 1px solid #f3c72b;
  border-bottom: 1px solid #f3c72b;
}

.transport-select__title-btn {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  @include font-size(bold, 16px, 18px);

  font-family: inherit;
  color: #1d2e5b;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.transport-select__list {
  display: flex;

  @include list-style;

  padding-top: 2px;
  padding-bottom: 21px;
}

.transport-select__item:not(:last-child) {
  margin-right: 1px;
}

.transport-select__label {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
}
