.transport-list {
  display: flex;
  justify-content: center;
  align-items: center;

  .form-page & {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #cbced9;
    border-radius: 10px;
  }
}

.transport-list__item {
  width: 24px;
  height: 24px;

  &--plane {
    padding-top: 7px;
    padding-left: 8px;
  }

  &--bus {
    padding-top: 7px;
    padding-left: 10px;
  }

  &--bike,
  &--walk {
    padding-top: 7px;
    padding-left: 9px;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  .catalog-page & {
    width: 32px;
    height: 32px;
    margin: 0;
    background-color: #edeff6;
    border-radius: 50%;
  }

  .form-page & {
    width: 32px;
    height: 32px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.transport-list__icon {
  fill: #101d41;
  fill-opacity: 0.15;

  &--checked {
    fill-opacity: 1;
  }
}
