.transport__title {
  display: block;
  width: max-content;
  margin: 0;
  margin-top: -11px;
  margin-bottom: 19px;
  padding-left: 10px;
  padding-right: 10px;

  @include font-size(normal, 15px, 18px);

  text-transform: lowercase;
  background-color: $basic_white;
}

.transport__transport-list {
  @include list-style;
}
