.transport-select {
  border-top: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 120px auto;
    align-items: center;
    padding-top: 25px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
  }
}

.transport-select__title-btn {
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  @include font-size(bold, 16px, 18px);

  font-family: inherit;
  color: #1d2e5b;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 4px);
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid #1d2e5b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;

    .list--opened & {
      border: none;
      border-bottom: 6px solid #1d2e5b;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }

    .page__body--no-js & {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    @include font-size(500, 20px, 20px);

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;

    &::after {
      display: block;
    }
  }
}

.transport-select__title-btn-add {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;

    @include font-size(500, 20px, 20px);
  }
}

.transport-select__list {
  position: absolute;
  display: flex;
  align-items: center;

  @include list-style;

  padding-top: 2px;
  padding-bottom: 21px;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;

  .page__body--no-js &,
  .list--opened & {
    position: static;
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    position: static;
    padding: 0;
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding-bottom: 32px;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
  }
}

.transport-select__item:not(:last-child) {
  margin-right: 1px;
}

.transport-select__label {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 7px;
  background-color: #ffffff;
  border-radius: 50%;

  &--plane,
  &--walk {
    padding-left: 7px;
  }

  &--bus,
  &--bike {
    padding-left: 8px;
  }

  &:hover,
  &:focus {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));

    .transport-select__icon {
      fill: #b2b2b2;
      fill-opacity: 1;
    }
  }

  &:active {
    filter: none;
    background-color: #e2e5f1;

    .transport-select__icon {
      fill: #1d2e5b;
      fill-opacity: 0.1;
    }
  }

  .transport-select__input:checked ~ & {
    &:hover,
    &:focus {
      fill: #1d2e5b;
      fill-opacity: 0.7;
    }

    &:active {
      filter: none;
      background-color: #e2e5f1;

      .transport-select__icon {
        fill: #1d2e5b;
        fill-opacity: 0.3;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
    padding-top: 10px;

    &--plane,
    &--walk {
      padding-left: 10px;
    }

    &--bus,
    &--bike {
      padding-left: 11px;
    }
  }
}

.transport-select__icon {
  width: 16px;
  height: 16px;
  fill: #1d2e5b;
  fill-opacity: 0.15;

  .transport-select__input:checked ~ .transport-select__label & {
    fill-opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }
}
