.transport__title {
  display: block;
  width: max-content;
  margin: 0;
  margin-top: -4px;
  margin-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;

  @include font-size(normal, 15px, 18px);

  text-transform: lowercase;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      display: none;
    }
  }
}

.transport__transport-list {
  @include list-style;

  margin-left: 6px;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      margin-left: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      margin-left: 0;
    }
  }
}
