.travelmates-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .catalog-page & {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: -5px;
  }
}

.travelmates-list__item {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 20px;

    &:nth-child(2n-1) {
      margin-right: 50px;
    }

    .catalog-page & {
      margin: 0;
      margin-bottom: 38px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      margin-bottom: 31px;
    }
  }
}
