.travelmates-list__item {
  margin-right: auto;
  margin-left: auto;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}
