.travelmate {
  position: relative;
  width: 270px;
  min-height: 428px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;

  &:hover {
    filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));

    .travelmate__photo {
      transform: scale(1.1);
    }
  }

  .catalog-page & {
    display: grid;
    grid-template-columns: 70px 120px auto;
    grid-template-rows: 40px 30px auto auto auto 40px;
    min-height: 415px;
    padding-top: 15px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 285px;
    min-height: 483px;
    border-radius: 20px;

    .catalog-page & {
      grid-template-columns: 190px 150px auto 60px;
      grid-template-rows: 30px auto 50px auto;
      column-gap: 29px;
      row-gap: 23px;
      width: 100%;
      min-height: 333px;
      padding-top: 35px;
      padding-bottom: 25px;
      padding-left: 35px;
      padding-right: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      grid-template-columns: 285px 150px auto auto;
      grid-template-rows: 30px auto 50px;
      column-gap: 54px;
      min-width: 951px;
      min-height: 285px;
      padding: 0;
      padding-top: 46px;
      padding-bottom: 46px;
      padding-right: 43px;
      border-radius: 20px;
    }
  }
}

.travelmate__photo-box {
  overflow: hidden;
}

.travelmate__photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .catalog-page & {
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 286px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .catalog-page & {
      width: 190px;
      height: 190px;
      border-radius: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      width: 285px;
      height: 285px;
      margin-top: -46px;
      margin-bottom: -46px;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}

.travelmate__link {
  .catalog-page & {
    position: relative;
    text-decoration: none;

    &--photo {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    &--name {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }
  }

  @media (min-width: $tablet-width) {
    .catalog-page & {
      height: fit-content;
      padding: 0;

      &--photo {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
      }

      &--name {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      &--photo {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        height: 193px;
      }

      &--name {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
      }
    }
  }
}

.travelmate__transport {
  margin-top: -34px;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.travelmate__level {
  position: absolute;
  top: 18px;
  left: 17px;

  @media (min-width: $tablet-width) {
    top: 24px;
    left: 21px;
  }

  .catalog-page & {
    position: static;
    margin-top: -23px;

    @media (min-width: $tablet-width) {
      margin-bottom: -10px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.travelmate__favorite {
  position: absolute;
  top: 55px;
  left: 70px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      position: static;
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      margin: 0;
      margin-left: -28px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      margin-left: -54px;
    }
  }
}

.travelmate__favorite-btn {
  position: relative;
  width: 31px;
  height: 31px;
  padding: 0;
  padding-top: 3px;
  background-color: #e2e5f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    &::after {
      opacity: 0.5;
    }
  }

  &:active {
    &::after {
      opacity: 0.1;
    }
  }

  &--checked {
    background-color: #f9eaea;

    &:hover,
    &:focus {
      background-color: #f9d8d8;
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(100% / 2 - 5px);
    left: calc(100% / 2 - 6px);
    width: 12px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    opacity: 0.35;
  }

  &--checked::after {
    background-image: url("../img/icon-heart-active.svg");
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;

    &::after {
      width: 20px;
      height: 20px;
      top: calc(100% / 2 - 8px);
      left: calc(100% / 2 - 10px);
    }
  }
}

.travelmate__likes-count {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 6px;

  @include font-size(bold, 14px, 16px);

  color: #161c35;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin: 0;
    margin-left: 6px;

    @include font-size(bold, 20px, 20px);
  }
}

.travelmate__flags-list {
  position: relative;

  @include list-style;

  margin-top: -16px;

  @media (min-width: $tablet-width) {
    margin-top: -18px;
  }
}

.travelmate__transport-list {
  @include list-style;

  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }
}

.travelmate__name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 11px;
  margin-left: -16px;
  text-align: center;
  text-decoration: none;
  outline: none;

  @include font-size(bold, 21px, 21px);

  color: #1d2e5b;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  .catalog-page & {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100px;
    margin: 0;
    margin-left: 16px;
    text-align: left;
  }

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 10px;
    background-color: #f97676;
    border-radius: 50%;

    .catalog-page & {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      margin-top: 8px;
      align-self: flex-start;
    }
  }

  &--online::before {
    background-color: #81e31e;
  }

  @media (min-width: $tablet-width) {
    justify-content: left;
    margin-top: 18px;
    margin-left: 44px;

    @include font-size(bold, 24px, 22px);

    .catalog-page & {
      justify-content: flex-end;
      margin-left: 7px;
      width: fit-content;
    }

    &::before {
      width: 8px;
      height: 8px;
      margin-right: 14px;

      .catalog-page & {
        position: static;
        margin-left: 22px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      flex-direction: row;
      justify-content: unset;
      margin: 0;

      @include font-size(bold, 30px, 30px);

      &::before {
        margin: 0;
        margin-left: -10px;
        margin-right: 18px;
        align-self: center;
      }
    }
  }
}

.travelmate__hashtags {
  display: block;
  max-width: 190px;
  margin: 0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include font-size(normal, 16px, 18px);

  color: #444444;

  .catalog-page & {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin: 0;
    margin-top: 12px;
    text-align: left;

    @include font-size(normal, 15px, 18px);
  }

  @media (min-width: $tablet-width) {
    max-width: 223px;
    margin-top: 23px;

    @include font-size(normal, 20px, 23px);

    .catalog-page & {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      margin: 0;
      margin-top: 5px;
      margin-left: 7px;
      color: #000000;

      @include font-size(normal, 20px, 23px);
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      margin: 0;
      padding-left: 8px;
    }
  }
}

.travelmate__wish-country {
  grid-column: 1 / 4;
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      grid-column: 1 / 5;
      grid-row: 4 / -1;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
      margin: 0;
    }
  }
}

.travelmate__inner-box {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #edeff6;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      grid-column: 4 / -1;
      grid-row: 1 / 4;
      flex-direction: column;
      align-items: center;
      margin: 0;
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      grid-column: 4 / 5;
      grid-row: 3 / 4;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding-left: 0;
      border: none;
    }
  }
}

.travelmate__btn-invite {
  grid-column: 1 / 4;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  @include font-size(bold, 17px, 17px);

  color: #161c35;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffd74b;
  border-radius: 25px;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(#161c35, 0.3);
  }

  @media (min-width: $tablet-width) {
    .catalog-page & {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      width: 150px;
      min-height: 50px;
      margin: 0;
      padding-top: 14px;
      padding-bottom: 14px;

      @include font-size(bold, 20px, 20px);
    }
  }
}
