.user-nav-list {
  width: 100%;
  text-align: center;
  list-style: none;
}

.user-nav-list__item {
  width: 100%;
}

.user-nav-list__link {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: $basic-yellow;
  color: $basic-blue;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;

  @include font-size (17px, bold, 30px);
}

