.wish-country {
  border-top: 1px solid #edeff6;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      margin-top: 21px;
      margin-left: -35px;
      margin-right: -25px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      margin: 0;
      border: none;
    }
  }
}

.wish-country__wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.wish-country__title {
  display: block;
  width: max-content;
  margin: 0;
  margin-top: -11px;
  margin-bottom: 18px;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;

  @include font-size(normal, 15px, 18px);

  color: #444444;
  text-transform: lowercase;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      margin-left: 84px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      display: none;
    }
  }
}

.wish-country__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    .catalog-page & {
      display: flex;
      align-items: center;
      padding-left: 37px;
      padding-right: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog-page & {
      display: block;
      padding-left: 37px;
      padding-right: 25px;
    }
  }
}

.wish-country__item {
  display: flex;
  height: max-content;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 28px;
    }
  }
}

.wish-country__flag {
  @media (min-width: $tablet-width) {
    .catalog-page & {
      width: 35px;
      height: 24px;
    }
  }
}

.wish-country__country {
  margin-left: 15px;

  @include font-size(500, 15px, 16px);

  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size(500, 20px, 20px);
  }
}
