@mixin list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font-size ($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin wrapper {
  width: 270px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 688px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
  }
}
