
// Colors

$basic_blue: #161c35;
$basic_blue_light: #1d2e5b;
$basic_blue_lighter: #edeff6;
$basic_yellow: #ffd74b;
$basic_white: #ffffff;
$basic_black: #000000;
$special_yellow_dark: #ffbd30;
$special_blue_light: #dfe3f0;
$special_blue_filter :#e2e5f2;
$special_blue_addplan :#d4d9eb;
$special_grey: #444444;
$special_grey_light: #cccccc;
$special_red: #f47e7e;
$special_orange: #ff8d30;
$special_orange_light: #ffa530;
$link-dark: #192144;
$bg-contact-link: #121936;
$link_light: #132576;
$bg_dark_blue: #141b3b;
$bg_blue_header: #182044;
$letter-sort-border: #cbced9;
$calendar-border: #d6d9e6;
$calendar-day-red: #ff5c23;
$bg-country-button: #d6daed;
$del-button-cross: #afb0b5;
$border-select-travelmates: #f3c72b;
$border-level-select: #cbced9;
$bg-user-offline: #f97676;
$bg-user-online: #81e31e;
$bg-like-btn: #f9eaea;
$page-footer-border: #f2f2f2;
$transport-icon: #101d41;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
