
// Colors

$basic_blue: #161c35;
$basic_blue_light: #1d2e5b;
$basic_blue_lighter: #edeff6;
$basic_yellow: #ffd74b;
$basic_white: #ffffff;
$special_yellow_dark: #ffbd30;
$special_blue_light: #dfe3f0;
$special_grey: #444444;
$special_red: #f47e7e;
$special_orange: #ff8d30;
$link-dark: #192144;

// Viewports

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
