
// Colors

$basic_blue: #161c35;
$basic_blue_light: #1d2e5b;
$basic_blue_lighter: #edeff6;
$basic_yellow: #ffd74b;
$basic_white: #ffffff;
$special_yellow_dark: #ffbd30;
$special_blue_light: #dfe3f0;
$special_blue_filter :#e2e5f2;
$special_grey: #444444;
$special_red: #f47e7e;
$special_orange: #ff8d30;
$special_orange_light: #ffa530;
$link-dark: #192144;
$link_light: #132576;
$bg_dark_blue: #141b3b;
$bg_blue_header: #182044;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
